* { margin: 0; box-sizing: border-box; } 

body { 
	font-size: 18px; 
	line-height: 34px;
	font-family: 'PT Sans', Verdana, sans-serif;
	color: #231f20;
}

h1 {
	font-size: 1.75rem;
	color: #EAEAEA;
}


h2 {
	font-size: 1.3rem;
	text-align: center;
	border-bottom: 1px solid #bbb;
	color: #ad974f;
}

h3 {
	text-align: center;
}

a {
	color:#231f20;
}

a:visited {
  color: #434a54;
}

header, main, footer {
	margin: 1.25rem auto;
	padding: .5rem;
	/*max-width: 100%;*/
	max-width: 830px;
}

header, footer {
	text-align: center;
	background-color: #231f20;
	color: whitesmoke;
}

header img {
	margin-top: 6.5rem;
	width: 177px;
	height: auto;
	float: right;
}

footer {
	font-size: 0.7rem;
	background-color: #8E793E;
}



div.centerTable{
	text-align: center;
}



div.centerTable table , th, td{
   margin: 0 auto;
   text-align: left;
   border:1px solid  #434a54;
   border-collapse: collapse;
}


tr:nth-child(1) {
	background: #231f20;
	color: #8E793E;
  }

tr:nth-child(odd) {
    background-color:#EAEAEA;
}
tr:nth-child(even) {
    background-color:#8E793E;
}
