* { margin: 0; box-sizing: border-box; } 

body { 
	font-size: 18px; 
	line-height: 34px;
	font-family: 'PT Sans', Verdana, sans-serif;
	color: #231f20;
}

h1 {
	font-size: 1.75rem;
	color: #EAEAEA;
}


h2 {
	font-size: 1.3rem;
	text-align: center;
	border-bottom: 1px solid #bbb;
	color: #ad974f;
}

h3 {
	text-align: center;
}

a {
	color:#231f20;
}

a:visited {
  color: #434a54;
}

header, main, footer {
	margin: 1.25rem auto;
	padding: .5rem;
	/*max-width: 100%;*/
	max-width: 830px;
}

header, footer {
	text-align: center;
	background-color: #231f20;
	color: whitesmoke;
}

header img {
	margin-top: 6.5rem;
	width: 177px;
	height: 212px;
	float: right;
}

footer {
	font-size: 0.7rem;
	background-color: #8E793E;
}



div.centerTable{
	text-align: center;
}



div.centerTable table , th, td{
   margin: 0 auto;
   text-align: left;
   border-collapse: collapse;
}


tr:nth-child(1) {
	background-color: #231f20;
	color: #8E793E;
  }

tr:nth-child(odd) {
    background-color:#EAEAEA;
}

tr:nth-child(even) {
    background-color:#8E793E;
}

tr:hover {
          background-color: #231f20;
          color: #EAEAEA;
    }

.btn {
	background-color: #8E793E;
	border: none;
	color: #231f20;
	padding: 14px 30px;
	text-align: center;
	font-size: 14px;
	margin: 2px 1px;
	opacity: 1;
	transition: 0.3s;
  }
  
  .btn:hover {opacity: 0.6}
  
  .btnBlack {
	background-color: #231f20;
	border: none;
	color: #8E793E;
	padding: 14px 30px;
	text-align: center;
	font-size: 14px;
	margin: 2px 1px;
	opacity: 1;
	transition: 0.3s;
  }
  
  .btnBlack:hover {opacity: 0.6}


  .loader {
	margin: 0 auto;
	visibility: hidden;
	border: 16px solid #ad974f;
	border-radius: 50%;
	border-top:16px solid #231f20;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }


  .loaderBlack {
	border: 16px solid #ad974f;
	border-radius: 50%;
	border-top: 16px solid  #231f20;
	border-right: 16px solid #ad974f;
	border-bottom: 16px solid #231f20;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  div.polaroid {
	width: 177px;
	padding: 10px 10px 20px 10px;
	border: 1px solid #BFBFBF;
	background-color: white;
	box-shadow: 10px 10px 5px #aaaaaa;
	margin-top: 6.5rem;
	height: auto;

  }
  
  div.rotate_right {
	float: left;
	-ms-transform: rotate(7deg); /* IE 9 */
	-webkit-transform: rotate(7deg); /* Safari */
	transform: rotate(7deg);
	float: right;
	margin-right: 50px;
	text-align: center;
  }
